*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --text-color: #000000;
    --main-color: #00b3ff;
}

section{
    padding: 50px 10%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar{
    position: relative;
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/furniture2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1{
    font-size: 2.7rem;
    color: #fff;
}

.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
    color: #fff;
}

.home-text span{
    color: var(--main-color);
}

.btn{
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.btn:hover{
    background-color: #ffffff00;
    border: 2px solid var(--main-color);
}

.heading span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    padding: 5px;
}

.heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.shop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: #000000;
}

.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}

.box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.stars .bx{
    color: var(--main-color);
}

.box .bx-cart{
    /* position: absolute; */
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}